/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* $colors: #1abc9c, #2ecc71, #3498db, #9b59b6, #f1c40f, #e67e22, #e74c3c, #95a5a6;

body {
  background-color: nth($colors, random(length($colors)) + 1);
} */


.circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}
